# Take-Home Final Exam

**Dickinson College**<br/>
**Fall 2023**<br/>
Prof Eren Bilen<br/>
<font color='red'>**Due Date:** Wednesday December 13, 5pm </font>

# Name: Hannie Pham
<br>

# Task

On this exam, you will

- choose one dataset that interests you from tidytuesday: https://github.com/rfordatascience/tidytuesday.
- choose a second dataset, which is not from tidytuesday but could be from anywhere on the internet, including but not limited to data from an API, or scraped data, Google Search Trends, Kaggle, or any data published by an official government statistics office, such as the U.S. census bureau (or its equivalent office from another country depending on what dataset you pick from tidytuesday)
- merge the two data sets you picked on the appropriate key variable(s).
- process/clean the data using pandas and numpy where needed.
- Present three main "findings" in form of Exploratory Data Analysis (EDA).
    - These findings should create a "wow" effect. Usually these attention grabbing results take the form of a visualization, so I'm copying below six visualizations that I believe are good examples that achieve this effect.
    - Interpret your findings at the highest depth you can, and be accurate in your claims and interpretation. Feel free to cite additional resources for the "depth". For example, if you are presenting data from the Roman Empire, and a number of historians have hypotheses on a certain aspect of the Roman Empire, you can refer to those hypotheses in interpreting your findings.
    - Note that you can use 2d visualizations, or you can also use multiple 1d visualizations or tables presented seperately, but put together in a context in your interpretation.
- Commit and push your notebook + your final data once you are done by the deadline.
- Here is the rubric I will follow to grade your submission:



| item | weight
| :---        |    :---   |
|novelty/originality of the final combined data | 20%
|creativity of the idea, and in the results presented | 20%
|accuracy and depth of the interpretations | 20%
|implications for stakeholders, takeaways | 20%
|organization of the code and the jupyter notebook submitted, annotations of the code | 20%

**IMPORTANT:** Go to https://docs.google.com/spreadsheets/d/1xCPGlt-FsAqz2zJtO36ljOOU6m7ry6H9PSimctR7MlM/edit?usp=sharing and add your tidytuesday data to the list. **A tidytuesday dataset can only be used by one student on this exam (so I get to read new results from each of you), and it's first come first serve basis.** So, once you find your data, go to the google sheet link and add your data asap. The deadline to do this is December 9, 11:59p (midnight).

Once again, note that you must combine data from at least two datasets (one must be from tidytuesday) and you must present at least three main findings and interpret them.

Feel free to reach out if you have any questions.

Good luck,
Prof. B

<img src="attach1.png">

<img src="attach2.png">

<img src="attach3.png">

<img src="attach4.png">

<img src="attach5.png">

<img src="attach6.png">

## Selecting Datasets

Dataset 1: Holiday Movies (https://github.com/rfordatascience/tidytuesday/blob/master/data/2023/2023-12-12/readme.md)

Dataset 2: Movie Industry (https://www.kaggle.com/datasets/danielgrijalvas/movies/data)

## Processing and Cleaning Datasets

In [1]:
import pandas as pd

In [2]:
# Read Dataset 1
df1 = pd.read_csv('/Users/hanniepham/Documents/Data200 Final/holiday_movies.csv')

In [3]:
df1

,tconst,title_type,primary_title,original_title,year,runtime_minutes,genres,simple_title,average_rating,num_votes,christmas,hanukkah,kwanzaa,holiday
0,tt0020356,movie,Sailor's Holiday,Sailor's Holiday,1929,58.0,Comedy,sailors holiday,5.4,55,False,False,False,True
1,tt0020823,movie,The Devil's Holiday,The Devil's Holiday,1930,80.0,"Drama,Romance",the devils holiday,6.0,242,False,False,False,True
2,tt0020985,movie,Holiday,Holiday,1930,91.0,"Comedy,Drama",holiday,6.3,638,False,False,False,True
3,tt0021268,movie,Holiday of St. Jorgen,Prazdnik svyatogo Yorgena,1930,83.0,Comedy,holiday of st jorgen,7.4,256,False,False,False,True
4,tt0021377,movie,Sin Takes a Holiday,Sin Takes a Holiday,1930,81.0,"Comedy,Romance",sin takes a holiday,6.1,740,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260,tt9747440,tvMovie,A Christmas Love Story,A Christmas Love Story,2019,84.0,"Drama,Music,Romance",a christmas love story,6.9,1652,True,False,False,False
2261,tt9747450,tvMovie,Holiday for Heroes,Holiday for Heroes,2019,81.0,Romance,holiday for heroes,7.0,1655,False,False,False,True
2262,tt9802890,tvMovie,Christmas Jars,Christmas Jars,2019,93.0,Drama,christmas jars,7.3,914,True,False,False,False
2263,tt9815084,tvMovie,A Very British Christmas,A Very British Christmas,2019,90.0,"Comedy,Family,Romance",a very british christmas,5.7,725,True,False,False,False
2264,tt9892854,tvMovie,#Xmas,#Xmas,2022,84.0,"Comedy,Drama,Romance",xmas,5.8,926,True,False,False,False

In [38]:
# Check dataset 1 information
print(df1.head())  
print(df1.info())

      tconst title_type          primary_title             original_title  \
0  tt0020356      movie       Sailor's Holiday           Sailor's Holiday
1  tt0020823      movie    The Devil's Holiday        The Devil's Holiday
2  tt0020985      movie                Holiday                    Holiday
3  tt0021268      movie  Holiday of St. Jorgen  Prazdnik svyatogo Yorgena
4  tt0021377      movie    Sin Takes a Holiday        Sin Takes a Holiday

   year  runtime_minutes          genres          simple_title  \
0  1929             58.0          Comedy       sailors holiday
1  1930             80.0   Drama,Romance    the devils holiday
2  1930             91.0    Comedy,Drama               holiday
3  1930             83.0          Comedy  holiday of st jorgen
4  1930             81.0  Comedy,Romance   sin takes a holiday

   average_rating  num_votes  christmas  hanukkah  kwanzaa  holiday
0             5.4         55      False     False    False     True
1             6.0        242      False     False    False     True
2             6.3        638      False     False    False     True
3             7.4        256      False     False    False     True
4             6.1        740      False     False    False     True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2265 entries, 0 to 2264
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           2265 non-null   object
 1   title_type       2265 non-null   object
 2   primary_title    2265 non-null   object
 3   original_title   2265 non-null   object
 4   year             2265 non-null   int64
 5   runtime_minutes  2265 non-null   float64
 6   genres           2265 non-null   object
 7   simple_title     2265 non-null   object
 8   average_rating   2265 non-null   float64
 9   num_votes        2265 non-null   int64
 10  christmas        2265 non-null   bool
 11  hanukkah         2265 non-null   bool
 12  kwanzaa          2265 non-null   bool
 13  holiday          2265 non-null   bool
dtypes: bool(4), float64(2), int64(2), object(6)
memory usage: 185.9+ KB
None

In [5]:
# Clean dataset 1 by checking to see if there is any missing value in dataset
missing_values = df1.isnull().sum()
print(missing_values)

tconst               0
title_type           0
primary_title        0
original_title       0
year                 0
runtime_minutes    189
genres              32
simple_title         0
average_rating       0
num_votes            0
christmas            0
hanukkah             0
kwanzaa              0
holiday              0
dtype: int64

In [6]:
# Fill up missing values in genres column
most_frequent_category = df1['genres'].mode()[0]
df1['genres'].fillna(most_frequent_category, inplace=True)

In [7]:
# Fill up missing values in runtime_minutes column
df1['runtime_minutes'].fillna(df1['runtime_minutes'].mean(), inplace=True)

In [8]:
# Double-check missing values
missing_values = df1.isnull().sum()
print(missing_values)

tconst             0
title_type         0
primary_title      0
original_title     0
year               0
runtime_minutes    0
genres             0
simple_title       0
average_rating     0
num_votes          0
christmas          0
hanukkah           0
kwanzaa            0
holiday            0
dtype: int64

In [9]:
# Export to new cleaned dataset
df1.to_csv('cldataset1.csv', index=False)

In [10]:
# Read Dataset 2
df2 = pd.read_csv('/Users/hanniepham/Documents/Data200 Final/movies2.csv')
df2

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [39]:
# Check dataset 2 information
print(df2.head())  
print(df2.info())

                                             name rating      genre  year  \
0                                     The Shining      R      Drama  1980
1                                 The Blue Lagoon      R  Adventure  1980
2  Star Wars: Episode V - The Empire Strikes Back     PG     Action  1980
3                                       Airplane!     PG     Comedy  1980
4                                      Caddyshack      R     Comedy  1980

                        released  score      votes         director  \
0  June 13, 1980 (United States)    8.4   927000.0  Stanley Kubrick
1   July 2, 1980 (United States)    5.8    65000.0   Randal Kleiser
2  June 20, 1980 (United States)    8.7  1200000.0   Irvin Kershner
3   July 2, 1980 (United States)    7.7   221000.0     Jim Abrahams
4  July 25, 1980 (United States)    7.3   108000.0     Harold Ramis

                    writer            star         country      budget  \
0             Stephen King  Jack Nicholson  United Kingdom  19000000.0
1  Henry De Vere Stacpoole  Brooke Shields   United States   4500000.0
2           Leigh Brackett     Mark Hamill   United States  18000000.0
3             Jim Abrahams     Robert Hays   United States   3500000.0
4       Brian Doyle-Murray     Chevy Chase   United States   6000000.0

         gross             company  runtime
0   46998772.0        Warner Bros.    146.0
1   58853106.0   Columbia Pictures    104.0
2  538375067.0           Lucasfilm    124.0
3   83453539.0  Paramount Pictures     88.0
4   39846344.0      Orion Pictures     98.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7668 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7668 non-null   object
 5   score     7668 non-null   float64
 6   votes     7668 non-null   float64
 7   director  7668 non-null   object
 8   writer    7668 non-null   object
 9   star      7668 non-null   object
 10  country   7668 non-null   object
 11  budget    7668 non-null   float64
 12  gross     7668 non-null   float64
 13  company   7668 non-null   object
 14  runtime   7668 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB
None

In [40]:
# Clean dataset 2 by checking to see if there is any missing value in dataset 
missing_values = df2.isnull().sum()
print(missing_values)

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

In [13]:
# Fill up missing values in categorical columns
categorical_columns = df2.select_dtypes(include=['object']).columns
for column in categorical_columns:
    most_frequent_category = df2[column].mode()[0]
    df2[column].fillna(most_frequent_category, inplace=True)

In [15]:
# Fill up missing values in numerical columns
numerical_columns = df2.select_dtypes(include=['int64', 'float64']).columns
for column in numerical_columns:
    df2[column].fillna(df2[column].mean(), inplace=True)

In [16]:
# Double-check missing values
missing_values = df2.isnull().sum()
print(missing_values)

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

In [17]:
# Export to new cleaned dataset
df2.to_csv('cldataset2.csv', index=False)

In [18]:
# Read cleaned dataset 1
newdf1 = pd.read_csv('/Users/hanniepham/Documents/GitHub/Data200_Fall23/exams/final/cldataset1.csv')
newdf1

,tconst,title_type,primary_title,original_title,year,runtime_minutes,genres,simple_title,average_rating,num_votes,christmas,hanukkah,kwanzaa,holiday
0,tt0020356,movie,Sailor's Holiday,Sailor's Holiday,1929,58.0,Comedy,sailors holiday,5.4,55,False,False,False,True
1,tt0020823,movie,The Devil's Holiday,The Devil's Holiday,1930,80.0,"Drama,Romance",the devils holiday,6.0,242,False,False,False,True
2,tt0020985,movie,Holiday,Holiday,1930,91.0,"Comedy,Drama",holiday,6.3,638,False,False,False,True
3,tt0021268,movie,Holiday of St. Jorgen,Prazdnik svyatogo Yorgena,1930,83.0,Comedy,holiday of st jorgen,7.4,256,False,False,False,True
4,tt0021377,movie,Sin Takes a Holiday,Sin Takes a Holiday,1930,81.0,"Comedy,Romance",sin takes a holiday,6.1,740,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260,tt9747440,tvMovie,A Christmas Love Story,A Christmas Love Story,2019,84.0,"Drama,Music,Romance",a christmas love story,6.9,1652,True,False,False,False
2261,tt9747450,tvMovie,Holiday for Heroes,Holiday for Heroes,2019,81.0,Romance,holiday for heroes,7.0,1655,False,False,False,True
2262,tt9802890,tvMovie,Christmas Jars,Christmas Jars,2019,93.0,Drama,christmas jars,7.3,914,True,False,False,False
2263,tt9815084,tvMovie,A Very British Christmas,A Very British Christmas,2019,90.0,"Comedy,Family,Romance",a very british christmas,5.7,725,True,False,False,False
2264,tt9892854,tvMovie,#Xmas,#Xmas,2022,84.0,"Comedy,Drama,Romance",xmas,5.8,926,True,False,False,False

In [19]:
# Read cleaned dataset 2
newdf2 = pd.read_csv('/Users/hanniepham/Documents/GitHub/Data200_Fall23/exams/final/cldataset2.csv')
newdf2

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.400000,9.270000e+05,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,1.900000e+07,4.699877e+07,Warner Bros.,146.000000
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.800000,6.500000e+04,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4.500000e+06,5.885311e+07,Columbia Pictures,104.000000
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.700000,1.200000e+06,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,1.800000e+07,5.383751e+08,Lucasfilm,124.000000
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.700000,2.210000e+05,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3.500000e+06,8.345354e+07,Paramount Pictures,88.000000
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.300000,1.080000e+05,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6.000000e+06,3.984634e+07,Orion Pictures,98.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,R,Drama,2020,"October 23, 2020 (United States)",3.100000,1.800000e+01,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7.000000e+03,7.850054e+07,Universal Pictures,90.000000
7664,Dream Round,R,Comedy,2020,"February 7, 2020 (United States)",4.700000,3.600000e+01,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,3.558988e+07,7.850054e+07,Cactus Blue Entertainment,90.000000
7665,Saving Mbango,R,Drama,2020,"April 27, 2020 (Cameroon)",5.700000,2.900000e+01,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,5.875000e+04,7.850054e+07,Embi Productions,107.261613
7666,It's Just Us,R,Drama,2020,"October 1, 2020 (United States)",6.390411,8.810850e+04,James Randall,James Randall,Christina Roz,United States,1.500000e+04,7.850054e+07,Universal Pictures,120.000000
7667,Tee em el,R,Horror,2020,"August 19, 2020 (United States)",5.700000,7.000000e+00,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,3.558988e+07,7.850054e+07,PK 65 Films,102.000000

In [42]:
# Merge 2 cleaned datasets to start analyzing
merged_df = pd.merge(newdf1, newdf2, on='year', how='inner')
merged_df

,tconst,title_type,primary_title,original_title,year,runtime_minutes,genres,simple_title,average_rating,num_votes,...,score,votes,director,writer,star,country,budget,gross,company,runtime
0,tt0080531,movie,Christmas Mountain,Christmas Mountain,1981,90.000000,"Adventure,Drama,Family",christmas mountain,6.5,148,...,8.4,905000.0,Steven Spielberg,Lawrence Kasdan,Harrison Ford,United States,1.800000e+07,389925971.0,Paramount Pictures,115.0
1,tt0080531,movie,Christmas Mountain,Christmas Mountain,1981,90.000000,"Adventure,Drama,Family",christmas mountain,6.5,148,...,7.4,32000.0,Lawrence Kasdan,Lawrence Kasdan,William Hurt,United States,3.558988e+07,24058838.0,The Ladd Company,113.0
2,tt0080531,movie,Christmas Mountain,Christmas Mountain,1981,90.000000,"Adventure,Drama,Family",christmas mountain,6.5,148,...,7.5,97000.0,John Landis,John Landis,David Naughton,United Kingdom,1.000000e+07,30669378.0,Polygram Pictures,97.0
3,tt0080531,movie,Christmas Mountain,Christmas Mountain,1981,90.000000,"Adventure,Drama,Family",christmas mountain,6.5,148,...,7.2,131000.0,John Carpenter,John Carpenter,Kurt Russell,United States,6.000000e+06,25244626.0,AVCO Embassy Pictures,99.0
4,tt0080531,movie,Christmas Mountain,Christmas Mountain,1981,90.000000,"Adventure,Drama,Family",christmas mountain,6.5,148,...,7.5,192000.0,Sam Raimi,Sam Raimi,Bruce Campbell,United States,3.500000e+05,2956630.0,Renaissance Pictures,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291059,tt4923886,tvMovie,12 Drinks of Christmas,12 Drinks of Christmas,2013,78.441233,Family,12 drinks of christmas,7.2,11,...,6.8,49000.0,Zal Batmanglij,Zal Batmanglij,Brit Marling,United Kingdom,6.500000e+06,2891812.0,Dune Entertainment,116.0
291060,tt4923886,tvMovie,12 Drinks of Christmas,12 Drinks of Christmas,2013,78.441233,Family,12 drinks of christmas,7.2,11,...,7.8,52000.0,Ritesh Batra,Ritesh Batra,Irrfan Khan,India,1.000000e+06,11621777.0,Sikhya Entertainment,104.0
291061,tt4923886,tvMovie,12 Drinks of Christmas,12 Drinks of Christmas,2013,78.441233,Family,12 drinks of christmas,7.2,11,...,7.6,21000.0,Park Hoon-jung,Park Hoon-jung,Jung-jae Lee,South Korea,3.558988e+07,31673928.0,Sanai Pictures,135.0
291062,tt4923886,tvMovie,12 Drinks of Christmas,12 Drinks of Christmas,2013,78.441233,Family,12 drinks of christmas,7.2,11,...,6.4,28000.0,Fredrik Bond,Matt Drake,Shia LaBeouf,United States,3.558988e+07,443990.0,Media Pro Pictures,103.0
291063,tt4923886,tvMovie,12 Drinks of Christmas,12 Drinks of Christmas,2013,78.441233,Family,12 drinks of christmas,7.2,11,...,4.4,23000.0,Courtney Solomon,Sean Finegan,Ethan Hawke,United States,1.800000e+07,11806432.0,After Dark Films,90.0

In [21]:
# Check to see if there is any duplicate row
print(merged_df.duplicated().sum())

0

In [22]:
# Drop columns that I do not want while analyzing 
columns_to_drop = ['name', 'runtime_minutes', 'num_votes', 'genre', 'simple_title', 'original_title']
new_df = merged_df.drop(columns=columns_to_drop, axis=1, inplace=True)
print(merged_df.head())

      tconst title_type       primary_title  year                  genres  \
0  tt0080531      movie  Christmas Mountain  1981  Adventure,Drama,Family
1  tt0080531      movie  Christmas Mountain  1981  Adventure,Drama,Family
2  tt0080531      movie  Christmas Mountain  1981  Adventure,Drama,Family
3  tt0080531      movie  Christmas Mountain  1981  Adventure,Drama,Family
4  tt0080531      movie  Christmas Mountain  1981  Adventure,Drama,Family

   average_rating  christmas  hanukkah  kwanzaa  holiday  ... score     votes  \
0             6.5       True     False    False    False  ...   8.4  905000.0
1             6.5       True     False    False    False  ...   7.4   32000.0
2             6.5       True     False    False    False  ...   7.5   97000.0
3             6.5       True     False    False    False  ...   7.2  131000.0
4             6.5       True     False    False    False  ...   7.5  192000.0

           director           writer            star         country  \
0  Steven Spielberg  Lawrence Kasdan   Harrison Ford   United States
1   Lawrence Kasdan  Lawrence Kasdan    William Hurt   United States
2       John Landis      John Landis  David Naughton  United Kingdom
3    John Carpenter   John Carpenter    Kurt Russell   United States
4         Sam Raimi        Sam Raimi  Bruce Campbell   United States

         budget        gross                company  runtime
0  1.800000e+07  389925971.0     Paramount Pictures    115.0
1  3.558988e+07   24058838.0       The Ladd Company    113.0
2  1.000000e+07   30669378.0      Polygram Pictures     97.0
3  6.000000e+06   25244626.0  AVCO Embassy Pictures     99.0
4  3.500000e+05    2956630.0   Renaissance Pictures     85.0

[5 rows x 22 columns]

In [24]:
# Export my merged dataset that also my final dataset to creat visualizations by Power BI
merged_df.to_csv('cleanedData.csv', index=False)

## Analyzing Datasets by PowerBI Visualizations

Power BI Visualization Link:
https://app.powerbi.com/groups/me/reports/73fad995-5d34-4ad5-9792-b77d3b0f59c7/ReportSection?ctid=6232b055-76b9-4c13-9b88-b562ae7db6fb&pbi_source=shareVisual&visual=c1970a9fc78fc9ca122b&height=680.00&width=1280.00&bookmarkGuid=3eca06cb-df6e-45b3-ab5a-a70430ce496d

### Visualization 1

According to the visual 1 page, the visualization "Company Trends Over Years" represents an in-depth examination of the film production industry over a thirty-year period from 1986 to 2016. It provides insight into two key metrics for film production companies: the count of years in which they have produced movies and the average score of the movies they produced. This dual-axis chart combines a bar graph, representing the count of years, with a line graph that depicts the average movie scores.

The bar graph indicates the number of years companies have been actively creating movies, which is a clear reflection of their industry longevity and operational stability. Companies that have set the highest standards, such as Columbia Pictures and Paramount, have demonstrated a large and continuous presence throughout a three-decade period. This persistent production implies a steady market position, durability in the ever-changing film industry, and possibly a robust film portfolio.
The gradient in bar heights observed from left to right suggests that, while some organizations have a lengthy and continuous production history, others have been less consistent or have a shorter period of activity. This could be due to varied corporate strategies, market entrance points, or the long-term influence of industry developments. The range of years also reflects differing dimensions of operation and methods to market participation, with some companies focused on volume and others on specialized markets or selective manufacture.

Overlaying the production volume is the line graph indicating the average scores of movies produced by these companies. The scores likely come from aggregators like IMDb, reflecting critical reception and audience appreciation. The average score is an indicator of the perceived quality of a company's filmography. An intriguing finding is that companies with the biggest production volume do not always have the highest average scores. This could imply that a focus on quantity does not always correspond to quality in the opinion of viewers and critics. In contrast, some firms with fewer active years had higher average scores, which could indicate a strategy centered on producing fewer but higher-quality films that engage strongly with consumers and critics.

The relationship between the count of years and average scores is not linear, suggesting that longevity and productivity do not uniformly result in higher movie scores. This non-correlation can have multiple implications:

- Market Saturation: Companies with a high volume of productions may saturate the market, potentially diluting the average quality of their offerings.
- Selective Production: Companies with fewer productions but higher average scores might focus on carefully curated projects, which could attract a particular audience or cater to a specific genre with dedicated followers.
- Strategic Positioning: Companies with both high production counts and above-average scores may have successfully found a balance, possibly through a mix of blockbuster and niche films, or through strong quality control mechanisms despite high output.

In conclusion, the "Company Trends Over Years" visualization offers a valuable snapshot of the film production industry from 1986 to 2016, highlighting the varying strategies of companies regarding their production volume and the quality of their films. It reveals that while some companies have focused on maintaining a high output over the years, others have prioritized the quality of their films, as evidenced by their average scores. This data provides a foundation for understanding the complexities of the film production industry and suggests that a company's success cannot be measured by longevity and productivity alone, but also by the lasting impact of its films as reflected in their scores.

### Visualization 2

According to the visual 2 page, the visualization titled "Holiday Movie Genres" provides a quantitative analysis of movie genres, with a focus on their association with the holiday theme, specifically Christmas, and their popularity as reflected by the number of votes on IMDb. The chart appears to classify movies into genres and sub-genres, and it includes an indicator for Christmas-themed movies.

The "Christmas: False True" filter suggests that the dataset allows for differentiation between movies that are specifically themed around Christmas and those that are not, providing a unique lens to observe the impact of holiday themes on genre popularity. The genres are listed on the y-axis, and the number of IMDb votes received by titles within these genres is represented on the x-axis, measured in millions.

The horizontal bars indicate the number of votes, serving as a proxy for popularity. Genres that traditionally resonate with the holiday spirit, such as "Comedy" and "Family," are shown to receive a substantial number of votes, potentially reflecting a strong audience connection to these themes during the holiday season. The combination of "Comedy, Drama, Family" and similar mixes indicates a preference for movies that encompass a broad spectrum of emotional experiences, aligning with the complex nature of holiday dynamics.

The inclusion of a Christmas filter implies that the data can be segmented to specifically analyze how the presence of Christmas themes affects audience engagement within each genre. The presumption is that Christmas-themed movies might exhibit a spike in votes due to seasonal viewing habits and the festive appeal of such movies.

The number of votes can be a multifaceted indicator, representing not only the number of viewers but also the level of engagement and willingness of the audience to interact with the film's online presence. High vote counts such as those seen in genres like "Comedy" and "Family" suggest these movies are likely watched and enjoyed by a broad audience, potentially due to their alignment with holiday themes of joy, family, and togetherness.

The visualization also shows votes for niche genres like "Documentary, Short," which have considerably fewer votes, suggesting that these types of movies cater to a more specific audience. The lower vote count for these categories may reflect a dedicated, yet smaller viewer base with specific interests.

Overall, "Holiday Movie Genres" presents a compelling visualization of the intersection between film genres and holiday themes, offering insights into audience preferences over a significant time period. The chart suggests that certain genres, especially those associated with Christmas, command substantial popularity, as indicated by IMDb votes. This popularity may be attributed to the universal appeal of certain genres during the holiday season or the cultural significance of Christmas-themed storytelling in cinema.

### Visualization 3

According to the visual 3 page, the visualization titled "Star Power" provides a compelling analysis of the financial impact of leading actors and actresses on film production from 1986 to 2016. The chart illustrates the sum of the budgets and gross revenues of movies, counted by trillions, associated with these stars.

The key focus of the chart is to quantify 'star power' by examining the correlation between the presence of specific actors in movie roles and the financial metrics of the movies they feature in. The bars represent two distinct financial indicators: the sum of the budgets allocated to movies featuring these actors (presumably the investment by production companies) and the sum of the gross revenues that these movies have generated (the return on investment).

Each actor's name is listed along the x-axis, with corresponding bars indicating the total budget for films they have starred in and the total gross revenue those films have garnered. This data paints a picture of the economic weight that these actors carry within the industry.

Budget Allocation:
- The budget allocation can reflect the level of trust and resources that production companies are willing to invest in films headlined by these actors.
- Actors with higher budget bars may be perceived as more bankable, enabling them to command larger production budgets for their projects.

Gross Revenue:
- The gross revenue is a direct reflection of the commercial success of the movies.
- The actors who have higher gross revenue bars are demonstrating a strong box office appeal, indicating that their involvement in a movie can significantly enhance its financial performance.

The actors at the higher end of both budget and gross revenue spectrums are likely those with the strongest 'star power,' whose names alone can attract substantial audiences, justify big budgets, and drive up box office numbers.

From a strategic perspective, this chart provides production companies with data to make informed decisions about casting, budgeting, and marketing. Actors who consistently show a high sum of gross against their sum of budget can be considered safe bets for future projects, especially in leading roles.

The "Star Power" visualization underscores the financial impact that actors have on film production and revenue generation. It highlights the actors who have been most successful in translating their star appeal into box office success, thereby aiding production companies in making data-driven decisions. The chart also reflects the evolving landscape of cinema, where the brand of a star can be as significant as the content of the movie itself. For an exhaustive understanding, however, additional variables and more nuanced data would be necessary to fully appreciate the dynamics at play in film production and actor marketability.

### Visualization 4

According to visual 4 page, the visualization, "Budget and Gross over Year" provides a longitudinal financial overview of the movie industry based on the aggregated budget and gross revenue of films produced by various companies from 1986 to 2016. The lines trace the sum of budgets and gross revenues over time, offering insights into the economic patterns within the film production sector.

The chart tracks two critical financial indicators: the total investment (budget) in film production and the total earnings (gross revenue) from film releases. The upward or downward trends in these lines can reveal the health of the movie industry, the success of its products, and the return on investment for the companies involved.

Trends in Budgets

The 'Sum of budget' line illustrates the total financial input into movie production each year. The steady growth of this line over the years could reflect the industry's expansion and the increasing costs associated with producing films, such as higher salaries, more elaborate set designs, and the integration of costly technologies like CGI.
The fluctuations in the budget line could indicate varying levels of confidence in the film market or changes in production strategies among movie companies.

Trends in Gross Revenues

The 'Sum of gross' line represents the total revenue generated by films. This line provides a measure of the industry's output and its ability to monetize its products. Sharp increases in gross revenue can suggest years of blockbuster hits, while dips might indicate less successful years or broader economic downturns that affect discretionary spending like movie-going.
The gap between the budget and gross lines can signify profitability. When the gross exceeds the budget significantly, it indicates a profitable year for the industry.
Financial Insights and Industry Implications
The graph reflects the complex interplay between investment and return in the film industry. 

Profitability and Risk

Years where the gross significantly surpasses the budget may represent periods of high profitability, suggesting that investments were well-targeted and that the movies released resonated with audiences.
Conversely, periods where the budget line approaches or surpasses the gross line could highlight riskier times in the industry, where investments did not yield proportional returns.

Influence of External Factors

The data suggests external factors, such as economic recessions, changes in consumer behavior, or the emergence of new entertainment platforms, can have a considerable impact on the industry's financial performance.
The sharp peak in gross revenue near the end of the observed period could suggest a record-breaking year, possibly due to the release of highly anticipated sequels or new entries in popular franchises.

In summary, "Budget and Gross over Year" provides a valuable macroscopic view of the financial ebb and flow of the movie production industry over three decades. It reveals an industry that has seen substantial growth in both investments and revenues, with notable fluctuations that could reflect shifts in market confidence and consumer engagement. This visualization can serve as a basis for deeper investigation into the factors that drive financial success in the film industry and can help stakeholders understand the long-term trends that shape production and distribution strategies. However, to fully grasp the complexities of the industry's financial dynamics, a more detailed analysis incorporating a broader range of financial data and contextual information would be essential.

## Conclusion

Collectively, these visualizations paint a picture of the movie industry from different angles. They underscore the importance of genre and seasonality, revealing how certain genres, particularly those related to holidays like Christmas, have a strong pull on audience preferences and engagement. The data also reflects the significant influence of prominent actors in guiding production budgets and drawing box office revenues, affirming the concept of 'star power' in the economics of filmmaking.

Moreover, the visualizations collectively suggest that while there is a significant investment in film production over the years, this does not always translate into quality as perceived by audiences, nor does it guarantee profitability. The industry's financial data indicates growth in both investment and returns, but also shows volatility that may reflect changes in market conditions, consumer behavior, and the emergence of new distribution channels.

In summary, the film industry is shown to be a complex ecosystem where success is influenced by a multitude of factors including the star cast, genre appeal, seasonal trends, and evolving market dynamics. For stakeholders, these insights could be invaluable in making strategic decisions regarding film production, marketing, casting, and distribution.